.button {
  border: none;
  border-radius: 5px;
  color: inherit;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  letter-spacing: 0.05em;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
